* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
	max-width: 100%;
}

.main-text,
.info-header {
	margin-bottom: 15px;
}

ul {
	list-style-type: none;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}

nav,
header,
footer {
	background: #1f2937;
}

.main-text {
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
}

a {
	text-decoration: none;
}
a:hover {
	color: yellow;
}

.secondary-text,
a {
	font-size: 18px;
	color: #e5e7eb;
}

.logo-text {
	font-size: 24px;
	color: #f9faf8;
}

button,
.cta-background {
	background-color: #3882f6;
	border-radius: 8px;
	padding: 4px 16px;
}

.main-sign-up {
	color: #f9faf8;
	font-weight: bold;
	border: none;
	margin-top: 8px;
}

.cta-sign-up {
	color: #f9faf8;
	border: solid;
}

.info-header {
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}

.quote-section {
	background-color: #e5e7eb;
}

.quote-text {
	font-size: 24px;
	font-style: italic;
	font-weight: lighter;
	color: #1f2937;
}

.authors {
	font-size: 24px;
	font-weight: bold;
	margin-top: 15px;
}

/* This targets only the .container elements that are descendants
 of an element with the class .navbar */
.navbar .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 8px;
}

nav {
	margin-bottom: ;
}

.navbar ul {
	display: flex;
}

.navbar ul li {
	margin-left: 20px;
}

.header .container {
	display: flex;
	align-items: center;
	gap: 24px;
}

.info-header {
	text-align: center;
}

.box-container {
	display: flex;
	gap: 32px;
	margin: 0 80px;
}

.boxes {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.quote-block {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.authors {
	align-self: flex-end;
}

header {
	padding-top: 60px;
	padding-bottom: 60px;
}

.info-section {
	padding-top: 25px;
	padding-bottom: 60px;
}

.cta-section {
	padding-top: 60px;
	padding-bottom: 60px;
	margin-left: 20px;
	margin-right: 20px;
}

.container .cta-background {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.cta-text {
	color: #f9faf8;
	font-weight: bold;
}

.cta-subtext {
	color: #e5e7eb;
}

footer {
	padding: 16px 0;
}

.copyright {
	text-align: center;
	color: #e5e7eb;
}
